<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css'>
<style type="text/css">
  .main-page {
  height: 100%;
}

.warning {
  margin-top: 135px;
}
</style>
  
</head>

<body>
  <div class="ui inverted vertical masthead center aligned segment main-page">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item" href="/">Home</a>
        <a class="item" href="payment">Payment</a>
        <a class="active item" href="users">Users</a>
      </div>
    </div>

    <div class="ui text container warning">
      <h1 class="ui inverted header">
       Successfull!
      </h1>
      <h2>Customer deleted successfully!</h2>
      <p>
      </p>
      <a href="/"><div class="ui huge negative button"><i class="left arrow icon"></i>Back to Home</div></a>
    </div>

  </div>
</body>
</html>
