<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css'> <!--If this doesnt work then use styles.css in the main folder -->
  <style type="text/css">
  .main-page {
  height: 100%;
}

.warning {
  margin-top: 135px;
}
</style>
  
</head>

<body>
  <div class="ui inverted vertical masthead center aligned segment main-page">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="active item" href="/">Home</a>
        <a class="item" href="payment">Payment</a>
        <a class="item" href="users">Users</a>
      </div>
    </div>

    <div class="ui text container warning">
      <h1 class="ui inverted header">
        Welcome to CMS 3.1
      </h1>
      <h2>Please remember to backup at the end of the session</h2>
      <p>
      </p>
      <a href="/payment"><div class="ui huge negative button"><i class="left arrow icon"></i>Payment</div></a><br><br>
      <a href="/table"><div class="ui huge negative button"><i class="left arrow icon"></i>Master table</div></a><br><br>
      <a href="/users"><div class="ui huge negative button"><i class="left arrow icon"></i>User Management</div></a><br><br>
    </div>

  </div>
</body>
</html>
