$def with (vc)
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Modify User</title>
  <style type="text/css">
    .button {
    background-color: white; /* Green */
    border: none;
    border-radius: 8px;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

  .main-page {
  height: 100%;
}

.warning {
  margin-top: 135px;
}

.tb {
  border:2px solid #456879;
  border-radius:5px;
  background-color: black;
  height: 22px;
  width: 200px;
}

  </style>
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css'>
  <script type="text/javascript">
    function check(){                                         //function to validate the form
      var user=document.getElementById('user').value;
      var inp=user.toString();
      if(inp.match(/^[a-zA-Z0-9]{5,}/)){ //{5,} is to make sure that the length of the username is atleast 5 chars
        //do nothing as the VC Number is valid
      }
      else{
        if(inp.length<5){
          alert("Length less than 5");
          var u=document.getElementById('user').focus();
          return false
        }
        else{
          alert("Invalid VC Number");
          var u=document.getElementById('user').focus();
          return false;
        }
      }
      var name=document.getElementById('cust_name').value;
      inp=name.toString();
      if(inp.match(/^[a-zA-Z]/)){
        alert("matched");
        //do nothing as the name contains only alphabets
      }
      else{
        alert("Invalid Name entered");
        var n=document.getElementById('cust_name').focus();
        return false;
      }
      var num1=document.getElementById('cust_no1').value;
      
      if(!isNaN(num1)){    //isNaN(123) returns false
        if(num1.length!=10){
        alert("Please enter a valid 10 digit mobile number");
        var n1=document.getElementById('cust_no1').focus();
        return false;
      }else{
        alert("Invalid number");
        var n1=document.getElementById('cust_no1').focus();
        //this means it is not a number therefore
        return false; 
      }
      var num2=document.getElementById('cust_no1').value;
      
      if(!isNaN(num2)){    //isNaN(123) returns false
        if(num2.length!=10){
        alert("Please enter a valid 10 digit mobile number");
        var n2=document.getElementById('cust_no2').focus();
        return false;
      }else{
        alert("Invalid number");
        var n2=document.getElementById('cust_no2').focus();
        //this means it is not a number therefore
        return false; 
      }
      }
    } //check()
  </script>
</head>

<body>
  <div class="ui inverted vertical masthead center aligned segment main-page">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item" href="/">Home</a>
        <a class="item" href="#">Payment</a>
        <a class="active item" href="users">Users</a>
      </div>
    </div><br><br><br>
    <!--<div>
    <form name="myform" onsubmit="return check()" action="modify" method="post">
      <label>VC Number:</label> <input type="text" name="user" placeholder="  Enter VC Number" required id="user" class="tb"><br><br>
      <label>Name:</label>  <input type="text" name="cust_name" placeholder="  Enter Name" required id="cust_name" class="tb"><br><br>
      <label>Phone 1:</label> <input type="text" name="cust_no1" placeholder="  Enter Phone Number" required id="cust_no1" class="tb"><br><br>
      <label>Phone 2:</label> <input type="text" name="cust_no2" placeholder="  Enter Phone Number" id="cust_no2" class="tb"><br><br>
      <input type="submit" value="Submit" class="button">
    </form>
    </div>-->
    <br><br><br>
    <a href="/users"><div class="ui huge negative button"><i class="left arrow icon"></i>Back to users</div></a>
  </div>

</body>
</html>
