<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>User Control Page</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css'> <!--If this doesnt work then use styles.css in the main folder -->
  <style type="text/css">
  .main-page {
  height: 100%;
}

.warning {
  margin-top: 135px;
}
</style>
  
</head>

<body>
  <div class="ui inverted vertical masthead center aligned segment main-page">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item" href="/">Home</a>
        <a class="item" href="payment">Payment</a>
        <a class="active item">Users</a>
      </div>
    </div><br><br><br>
    <div>
    <a href="/new"><div class="ui huge negative button"><i class="left arrow icon"></i>Insert New Customer</div></a><br><br><br>
    <a href="/modify"><div class="ui huge negative button"><i class="left arrow icon"></i>Update Customer's Details</div></a><br><br><br>
    <a href="/del"><div class="ui huge negative button"><i class="left arrow icon"></i>Delete a Customer</div></a><br><br><br>
    <a href="/stats"><div class="ui huge negative button"><i class="left arrow icon"></i>Stats</div></a>
    </div>
  </div>
</body>
</html>
